body,
html {
  margin: 0;
  padding: 0;
}

.container {
  background: orange;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  margin: 32px 0;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 48px;
  margin: 8px;
}

.subtitle {
  font-family: "Gloria Hallelujah";
  font-size: 24px;
  margin: 0;
  margin-bottom: 16px;
}

.game-data {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  height: 1.75em;
}

.rps-buttons {
  display: flex;
  gap: 48px;
  margin: 16px;
  margin-bottom: 32px;
}

.rps-button:hover {
  scale: 1.15;
}

.attribution {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  margin: 0;
  margin-top: 64px;
}

.attribution a {
  color: black;
}

.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gloria Hallelujah";
  gap: 8px;
}

#logo {
  transform: rotate(-360deg);
  transition: transform 0.7s;
  vertical-align: middle;
}

#logo:hover {
  transform: rotate(360deg);
  transition: transform 0.7s;
}
